@tailwind base;
@tailwind components;
@tailwind utilities;

.font{
    font-family: "Inter", sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #191a23;
  color: white;
}